@charset "UTF-8";
/*
 * 自定义样式
 */
body {
  background: gainsboro;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

header {
  width: 100%;
  height: 10%;
  line-height: 10%;
  background: #363636; }
  header a img {
    transition-property: border-radius,left;
    transition-duration: .6s, 2s;
    transition-delay: 1s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1); }
  header a img:hover {
    border-radius: 50%; }
  header h1 {
    float: left;
    margin-top: 30px; }
  header .nav-group {
    float: right;
    margin: 30px 30px 0 0; }
    header .nav-group li {
      float: left;
      margin-left: 30px; }
      header .nav-group li a {
        text-decoration: none;
        color: white; }

main {
  width: 100%;
  height: 80%; }
  main .firstArticle {
    width: 96%;
    margin: 4% 1%;
    padding: 1% 1%;
    border: 1px solid black;
    box-shadow: 2px 2px 3px #363636;
    transform: rotate(1deg);
    background: linear-gradient(#6600ff, white); }
  main .firstArticle:hover {
    background: linear-gradient(#e600ff, white); }
  main .secondArticle {
    background: radial-gradient(circle, #0099ff, white);
    width: 96%;
    margin: 4% 1%;
    padding: 1% 1%;
    border: 1px solid black;
    box-shadow: 2px 2px 3px #363636;
    transform: rotate(-2deg); }
    main .secondArticle h3 {
      color: #4d4d4d; }
    main .secondArticle ul {
      list-style: none; }
  main .picture-group {
    width: 96%;
    margin: 4% 1%;
    padding: 1% 1%;
    border: 1px solid black;
    box-shadow: 2px 2px 3px #363636;
    background: rgba(0, 153, 255, 0.1); }
    main .picture-group ul {
      list-style: none; }
      main .picture-group ul figure {
        width: 900px;
        height: 900px;
        border: 1px solid black;
        text-align: center;
        background: white; }
  main .book-list {
    width: 96%;
    margin: 4% 1%;
    padding: 1% 1%;
    border: 1px solid black;
    box-shadow: 2px 2px 3px #363636;
    background: #e6e6e6; }
    main .book-list table {
      border-collapse: collapse; }
      main .book-list table thead {
        background: #4d4d4d;
        color: white;
        font-size: 1.1em;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 4px; }
      main .book-list table table, main .book-list table th, main .book-list table td {
        border: 1px solid #999999;
        font-size: 1em;
        padding: 3px 7px 2px 7px; }
      main .book-list table tr.alt td {
        background: #cccccc; }
      main .book-list table tfoot {
        background: #b3b3b3; }

nav {
  width: 96%;
  margin: 4% 1%;
  padding: 1% 1%;
  border: 1px solid black;
  box-shadow: 2px 2px 3px #363636;
  background: #ccebff; }
  nav form {
    margin-left: 100px; }
    nav form input[type=submit] {
      border: none;
      background: #0099ff;
      width: 100%;
      border-radius: 5px; }
    nav form td:first-child {
      text-align: right; }

footer {
  width: 100%;
  height: 10%;
  background: black;
  color: white;
  text-align: center;
  font-size: .5em; }

/*# sourceMappingURL=style.css.map */
