/*
 * 自定义样式
 */
@mixin article-base {
  width: 96%;
  margin: 4% 1%;
  padding: 1% 1%;
  border: 1px solid $black;
  box-shadow:2px 2px 3px lighten($black, 21.2%);
}
$white: hsl(0°, 0.0%, 100.0%);
$black: hsl(0°, 0.0%, 0.0%);
$btn-bagd-col: hsl(204°, 100.0%, 50.0%);
body {
  background: darken($white, 13.7%);
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
  height: 10%;
  line-height: 10%;
  background: lighten($black, 21.2%);
  h1 {
    float: left;
    margin-top: 30px;
  }
  .nav-group {
    float: right;
    margin: 30px 30px 0 0; 
    li {
      float: left;
      margin-left: 30px;
      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}

main {
  width: 100%;
  height: 80%;
  .firstArticle {
    @include article-base;
    transform: rotate(1deg);
    background: linear-gradient(adjust-hue($btn-bagd-col, 60deg), adjust-hue($white, 90deg));
  }
  .secondArticle {
    background: radial-gradient(circle, saturate($btn-bagd-col, 30%), $white);
    @include article-base;
    transform: rotate(-2deg);
    h3{
      color: lighten($black,30%);
    }
    ul {
      list-style: none;
    }
  }
  .picture-group {
    @include article-base;
    background: transparentize($btn-bagd-col, 0.9);
    ul {
       list-style: none;
       figure {
         width: 600px;
         height: 600px;
         border: 1px solid $black;
         text-align: center;
         background: $white;

       }
    }
  }
  .book-list {
    @include article-base;
    background: darken($white, 10%);
    table {
      border-collapse: collapse;
      thead {
        background: darken($white, 70%);
        color: $white;
        font-size:1.1em;
        text-align:center;
        padding-top:5px;
        padding-bottom:4px;
      }
      table, th, td {
        border: 1px solid darken($white, 40%);
        font-size:1em;
        padding:3px 7px 2px 7px;
      }
      tr.alt td {
        background: darken($white, 20%);
      }

      tfoot {
        background: darken($white, 30%);
      }
    }
  }
}
nav {
  @include article-base;
  background: lighten($btn-bagd-col, 40%);
  form {
    margin-left: 100px;
      input[type=submit] {
        border: none;
        background: $btn-bagd-col;
        width: 100%;
        border-radius: 5px;

      } 
    td:first-child {
      text-align: right;
    }
  }
}
footer {
  width: 100%;
  height: 10%;
  background: $black;
  color: $white;
  text-align: center;
  font-size: .5em;
}
